<html>
<head>
    <title>Website</title>
	{{ css_resources | safe }}
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
body{
    text-align: center;
}
div.bk-root{
	height: 600;
}

</style>
</head>
<body>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
     equationNumbers: {  autoNumber: "AMS"  },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
  }
});
</script>

<!-- MATH EXPRESSION LIBRARIES -->
<script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>
 <p><h1>Wizualizacja wykresów</h1></p>
{{js_resources   | safe}}
{{ name | safe }}

{{ script | safe}}

<div id="equations">
Test równania dynamicznego: <div id = "dynamic_equation"> </div>
<br> <br>
Test równania statycznego: {{static_math_expression}}
</div>

</body>
</html>